{% extends 'base/template.html' %}
{% load static %}

{% block head %}
    {% block head_extend %}{% endblock %}
{% endblock %}

{% block title %}
    {% block title_extend %}Untitled Page{% endblock %}
{% endblock %}

{% block body %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="text-primary nav-item">
                    <a class="nav-link" href="/products">Products</a>
                </li>

                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hello, <span class="text-info">{{user.username}}</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-danger" href="/accounts/logout?next={{request.path}}"><i class="fas fa-sign-out-alt fa-fw"></i> Logout</a>
                    <a class="dropdown-item" href="/products/cart"><i class="fas fa-shopping-cart fa-fw"></i> View your cart</a>
                    <a class="dropdown-item" href="/products/orders"><i class="fas fa-shopping-cart fa-fw"></i> View your orders</a>
                    <!-- <div class="dropdown-divider"></div> -->
                    <!-- <a class="dropdown-item" href="#">Something wrong?</a> -->
                    </div>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-primary" href="/accounts/register?next={{request.path}}"><i class="fas fa-user-plus fa-fw"></i> Register</a>
                    <a class="dropdown-item text-info" href="/accounts/login?next={{request.path}}"><i class="fas fa-sign-in-alt fa-fw"></i> Login</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something wrong?</a>
                    </div>
                </li>
                {% endif %}
                </ul>
            </div>
        </nav>

        {% block content %}{% endblock %}
{% endblock %}
