{% extends 'base/navbar.html' %}
{% load static %}

{% block title_extend %}Admin{% endblock %}

{% block head_extend %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-3">
            <div class="card">
                <img src="https://i.imgur.com/l8lNhIC.jpg" class="img-thumbnail card-img-top" alt="...">

                <div class="card-body bg-dark">
                    <p>Products</p>
                    <a href="/admin/products" class="btn btn-primary">Manage </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-3">
            <div class="card">
                <img src="https://i.imgur.com/l8lNhIC.jpg" class="img-thumbnail card-img-top" alt="...">

                <div class="card-body bg-dark">
                    <p>Orders</p>
                    <a href="/admin/orders" class="btn btn-primary">Manage </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
