{% extends 'base/navbar.html' %}
{% load static %}

{% block title_extend %}Shop - Cart{% endblock %}

{% block head_extend %}
        <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock %}
{% block content %}
    {% if product in cart == 0 %}
        <p>You don't have any items on your cart yet.<a href="product/"> Start shopping now!</a></p>
    {% else %}
        <section id="products_list">
            <div class="container-fluid mt-5 pt-3">
                <div class="row justify-content-center my-5">
                    {% for product in cart %}
                        {% if product.user == user.username %}
                            <div class="col-lg-3 col-md-6 col-sm-12 my-3">
                                <div class="card">
                                {# Use default image if product image not provided #}
                                {% if product.product_image %}
                                    <img src="{{ product.product_image }}" class="img-thumbnail card-img-top" alt="...">
                                {% else %}
                                    <img src="https://i.imgur.com/l8lNhIC.jpg" class="img-thumbnail card-img-top" alt="...">
                                {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title font-weight-bold">{{product.product_name}}</h5>
                                        <p class="card-text">Price: {{product.price}}</p>
                                        <a href="/products/viewproduct/{{product.product_id}}" class="btn btn-primary">View details</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}