{% extends 'base/navbar.html' %}
{% load static %}

{% block title_extend %}{{product.product_name}} - Shop{% endblock %}

{% block head_extend %}
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}

{% block content %}
        <h1>Name: {{product.product_name}}</h1>
        {% if product.product_image %}
        <img class="img-thumbnail" src="{{product.product_image}}" alt="">
        {% else %}
        <img class="img-thumbnail" src="https://vignette.wikia.nocookie.net/sdorica/images/f/f5/CH_Puggi.png" alt="">
        {% endif %}

        <p>From: {{product.company}}</p>
        <p>Price: {{product.sell_price}}</p>
        <p>{{product.quantity_in_stock}} in stock</p>
{% endblock %}
