{% extends 'base/navbar.html' %}
{% load static %}

{% block title_extend %}Shop - Products{% endblock %}

{% block head_extend %}
        <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock %}

{% block content %}
        <div class="container-fluid mt-5 pt-3">
            <section id="header">
                <h1 class="text-light pl-5">Products <i class="fas fa-store-alt"></i></h1>
                <hr class="my-4 border-light">
            </section>

            <form action = "" method="POST">
                {% csrf_token %}
                <label>Search</label>
                <input type="text" class="form-control" name="pname">
                <input type="submit">
            </form>

            <section id="products_list">
                <div class="row justify-content-center my-5">
                    {% for product in products %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-3">
                        <div class="card">
                        {# Use default image if product image not provided #}
                        {% if product.product_image %}
                            <img src="{{product.product_image}}" class="img-thumbnail card-img-top" alt="...">
                        {% else %}
                            <img src="https://i.imgur.com/l8lNhIC.jpg" class="img-thumbnail card-img-top" alt="...">
                        {% endif %}
                            <!-- <div class="card-body" method="POST" action="{{product.product_id}}/"> -->
                            <div class="card-body">

                                <h5 class="card-title font-weight-bold">{{product.product_name}}</h5>
                                <p class="card-text">Price: <span class="text-info">{{product.sell_price}}</span></p>
                                <a href="/products/viewproduct/{{product.product_id}}" class="btn btn-primary">View <i class="fas fa-info-circle"></i></a>
                            {# If there isn't any left, display Sold Out rather than Add to cart #}
                            {% if product.quantity_in_stock <= 0 %}
                                <a class="btn btn-secondary disabled" href="#" aria-disabled="true">Sold out</a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>

            {% if messages %}
                {% for message in messages %}
                    {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
                {% endfor %}
            {% endif %}
        </div>
{% endblock %}
