{% extends 'base/navbar.html' %}
{% load static %}

{% block title_extend %}Shop - Products{% endblock %}

{% block head_extend %}
        <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock %}

{% block content %}
        <section id="products_list">
            <div class="container-fluid mt-5 pt-3">
                <div class="row justify-content-center my-5">
                    {% for product in products %}
                    <div class="col-lg-3 col-md-6 col-sm-12 my-3">
                        <div class="card">
                        {# Use default image if product image not provided #}
                        {% if product.product_image %}
                            <img src="{{ product.product_image }}" class="img-thumbnail card-img-top" alt="...">
                        {% else %}
                            <img src="https://i.imgur.com/l8lNhIC.jpg" class="img-thumbnail card-img-top" alt="...">
                        {% endif %}
                            <form class="card-body" method="GET">
                                <h5 class="card-title font-weight-bold">{{product.product_name}}</h5>
                                <p class="card-text">{{product.product_description}}</p>
                                <p class="card-text">Price: {{product.sell_price}}</p>
                                <a href="/products/viewproduct/{{product.product_id}}" class="btn btn-primary">View details</a>
                            {# If there isn't any left, display Sold Out rather than Add to cart #}
                            {% if product.quantity_in_stock %}
                                {% if user.is_authenticated %}
                                    <a href="/products/{{product.product_id}}" class="btn btn-danger">Add to cart <i class="fas fa-cart-plus"></i></a>
                                {% else %}
                                    <a href="#" class="btn btn-danger">Login to add <i class="fas fa-cart-plus"></i></a>
                                {% endif %}
                            {% else %}
                                <a class="btn btn-secondary disabled" href="#" aria-disabled="true">Sold out</a>
                            {% endif %}
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
            {% endfor %}
        {% endif %}
{% endblock %}
