{% extends 'base/template.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-12 col-md-6 p-5 bg-light">
                    <form action="register" method="post">

                        {% csrf_token %}

                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <div class="form-group">
                            <label for="password2">Confirm Password</label>
                            <input type="password" class="form-control" id="password2" name="password2">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="check" required>
                            <label class="form-check-label" for="check">Agree with ToS</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <input type="hidden" name="next" value="{{next}}">
                        <p class="form-text text-muted">Already have an account? Try <a href="/accounts/login">logging in</a>.</p>
                    </form>
                </div>
            </div>
            {% if messages %}
            <div class="row justify-content-center mt-5">
                <div class="col-12 col-md-6 p-3 border rounded-lg bg-danger">
                    {% for message in messages %}
                        <p class="text-light"><i class="fas fa-info-circle"></i> {{message}}</p>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
{% endblock %}
